* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Dimensions */
  --header-height: 4.5rem;

  /* Fonts */
  --logo-font: 'Pacifico', cursive;
  --body-font: 'Spartan', sans-serif;
  --handwriting: 'Shadows Into Light', cursive;

  /* Colors */
  --white: #0a182e;
  --gray: #1f2f47;
  --hand-color: hsl(0, 100%, 33%);
  --hand-color-faded: hsl(0, 100%, 33%);
  --navy: hsl(253, 100%, 92%);
  --navy-lighter: hsl(253, 100%, 92%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background: var(--navy);
}

header {
  height: var(--header-height);
  width: 100%;
  border-bottom: 1px solid var(--hand-color-faded);
  padding: auto 0;
  background: var(--navy);
  position: fixed;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

footer {
  width: 100%;
}
