#header.rolling {
  box-shadow: 0 0 12px var(--hand-color);
}

.container {
  margin: 0 1.5rem;
}

.menu {
  display: none;
}

nav.show .menu {
  position: fixed;
  background: var(--navy-lighter);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

.menu ul {
  gap: 5rem;
  text-align: center;
}

.menu a {
  color: #ffffff;
  font-weight: bolder;
  font-size: 1.5rem;
  position: relative;
}

.menu a:hover {
  color: var(--hand-color);
  transition: 0.3s;
}

.menu a::after {
  content: '';
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, var(--hand-color), var(--navy-lighter));
  position: absolute;
  left: 0;
  bottom: -2.5px;
  transition: width 0.3s;
}

.menu a:hover::after {
  width: 100%;
}

.logo {
  font-family: var(--logo-font);
  font-size: 2rem;
  color: #888888;
}

.logowhite {
  display: flex;
  align-items: middle;
  justify-content: center;
  height: 50px;
}

.logo span {
  color: var(--hand-color);
}

.toggle {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--hand-color);
}

.icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

nav.show .icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

#home {
  padding-top: calc(5rem + var(--header-height));
}

.text .handwriting {
  font-family: var(--handwriting);
  font-size: 1.5rem;
  color: var(--hand-color);
  line-height: 2rem;
  padding-bottom: 1rem;
}

.text {
  position: relative;
}

.text h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 1rem;
}

.text h1.subtitle {
  color: #888888;
}

.text h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 1rem;
}

.text h3 {
  font-size: 1.125rem;
  font-weight: bold;
  color: #ffffff;
  padding: 2rem 0;
}

.divider {
  height: 1px;
  width: 100%;
  margin-bottom: 1.5rem;
  background: linear-gradient(90deg, var(--hand-color), var(--navy));
}

.text span.handwriting {
  font-size: 2rem;
}

.text p {
  padding-bottom: 1.5rem;
  color: #888888;
  line-height: 1.3rem;
}

.handwriting.scroll {
  padding-top: 5rem;
  text-align: center;
  color: var(--hand-color-faded);
}

.vertical-line {
  height: 18rem;
  width: 50%;
  border-right: 1px solid var(--hand-color-faded);
}

.section {
  padding: 5rem 0;
}

#about .image,
#contact .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about img {
  width: 200px;
  border-radius: 50%;
  background: var(--navy-lighter);
  position: relative;
}

.button {
  color: var(--navy);
  font-weight: bold;
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: var(--hand-color);
  border-radius: 0.25rem;
  border-style: none;
}

.button:hover {
  color: var(--hand-color);
  background: var(--navy-lighter);
  border: 2px solid var(--hand-color-faded);
  padding: 0.875rem 1.875rem;
  transition: 0.3s;
}

.grid {
  display: grid;
  gap: 2rem;
}

.card {
  text-align: center;
  padding: 2rem 2rem;
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: 0.25rem solid var(--hand-color);
  box-shadow: 0 0 0.75rem var(--hand-color-faded);
}

.card img {
  display: block;
  margin: 0 auto;
  width: 100%;
  /* border: 0.25rem solid var(--navy-lighter); */
}

.card .image:hover {
  box-shadow: 0 0 1rem var(--navy-lighter);
  transition: 0.3s;
}

.card .image {
  position: relative;
}

.brand {
  display: grid;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.brand .logowhite {
  display: block;
  margin: 0 auto;
}

.brand p {
  font-size: 0.875rem;
  text-align: center;
  padding: 0 0 0.5rem;
}

.contact a {
  grid-auto-flow: column;
  gap: 0.5rem;
  align-items: center;
}

.icon-mail {
  font-size: 1.5rem;
}

.social,
.links {
  justify-content: center;
}

.social ul,
.links ul {
  grid-auto-flow: column;
  width: fit-content;
}
.social li,
.links li {
  display: inline-block;
}

.social i,
.links i {
  font-size: 1.5rem;
  color: #ffffff;
}

.social i:hover,
.links i:hover {
  color: var(--hand-color);
  transition: 0.3s;
}

.back-to-top.show {
  color: #ffffff;
  background: var(--navy-lighter);
  font-size: 1.5rem;
  line-height: 0;

  clip-path: circle();
  padding: 0.5rem;

  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
