@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?faw2ro');
  src:  url('fonts/icomoon.eot?faw2ro#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?faw2ro') format('truetype'),
    url('fonts/icomoon.woff?faw2ro') format('woff'),
    url('fonts/icomoon.svg?faw2ro#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-map-pin:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-github:before {
  content: "\e90e";
}
.icon-linkedin:before {
  content: "\e90f";
}
