@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cl266f');
  src:  url('fonts/icomoon.eot?cl266f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cl266f') format('truetype'),
    url('fonts/icomoon.woff?cl266f') format('woff'),
    url('fonts/icomoon.svg?cl266f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dev-dot-to:before {
  content: "\e911";
}
.icon-logo:before {
  content: "\e910";
}
.icon-moon:before {
  content: "\e909";
}
.icon-sun:before {
  content: "\e90b";
}
.icon-arrow-up:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-map-pin:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-github:before {
  content: "\e90e";
}
.icon-linkedin:before {
  content: "\e90f";
}
.icon-launch:before {
  content: "\e903";
}
.icon-figma:before {
  content: "\e912";
}
